---
import '../styles.css';
import Header from '../components/Header'
import Pokemons from '../components/Pokemons'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>PokeCard</title>
		<style>
			
		</style>
	</head>
	<body>
		<body>
		<Header  client:only/>
		<Pokemons client:only />
		</body>
	</body>
</html>
